<section id="details">
	<div class="container">
		<div class="row detailsNavigation">
			<div class="col-xs-6"><a href="#/details/{{ prevItem }}">&laquo; Previous project</a></div>
			<div class="col-xs-6 text-right"><a href="#/details/{{ nextItem }}">Next project &raquo;</a></div>
		</div>

		<div class="row" ng-model="project">
			<div class="col-xs-12 col-sm-5 col-md-5 images">
				<ul class="bxslider">
					<li><img ng-src="{{ project.image }}" /></li>
					<li ng-repeat="asd in project.images"><img ng-src="{{ asd }}" /></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7 content">
				<h2>{{ project.name }}</h2>

				<p>{{ project.description }}</p>

				<ul class="tags">
					<li ng-repeat="item in project.tags"><span>{{ item }}</span></li>
				</ul>

				<a href="{{ project.url }}" class="btn btn-success btn-visit" target="_blank">Visit website</a> or <a href="#/list">Back to portfolio</a>
			</div>
		</div>
	</div>
</section>

